@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Poppins', sans-serif; */

html, body {
    margin: 0;
    min-height: 100vh;
}

body {
    /* min-height: 100vh;
    min-width: 100vw; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background: #F5F5F5; */
    display: flex;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 3.125rem;
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 16px 16px 0px;
    box-shadow: 28px 28px 17px -17px rgba(0,0,0,0.37);
    -webkit-box-shadow: 28px 28px 17px -17px rgba(0,0,0,0.37);
    -moz-box-shadow: 28px 28px 17px -17px rgba(0,0,0,0.37);
}

.container-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;

}

.image {
    flex: 1;
}

.image img {
    width: 100%;
    height: 100%;
}

.login-form {
    flex: 1;
    background-color: #FBFBFB;
    border-radius: 0px 16px 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.login-form-wrapper {
    height: 100%;
    margin: 1.875rem 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

#logo {
    display: flex;
    column-gap: 0.7rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.logo img:last-child {
    object-fit: contain;
    width: 5.625rem;
}

.login-header {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #292021;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-login a {
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #939393;
}

.login-form a, .login-form button {
    display: block;
}

.login-form a, .forgot-password-wrapper {
    margin-bottom: 1.5rem;
}

.login-form button {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    padding: 0.875rem 10.6rem;
    background-color: #886750;
    outline: none;
    box-shadow: none;
    border:none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: background-color 100ms ease-in;
}

.login-form button:hover {
    background-color: #a77f62;
}

.form-control-wrapper {
    position: relative;
    margin-bottom: 1.875rem;
    padding: 1.125rem 1.5rem;
    background-color: white;
    border: 1px solid #e1d9ce;
}

.form-control-wrapper:last-of-type {
    margin-bottom: 1.125rem;
}

.form-control-wrapper input {
    width: calc(100% - 1.75rem);
    height: 100%;
    border: none;
    background-color: transparent;
    outline:none;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.form-control-wrapper img, svg{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

#password-js {
    cursor: pointer;
}

#password-js path {
    transition: fill 100ms ease-in;
}

#password-js:hover path {
  fill: #9e8461;
}

.forgot-password-wrapper {
    text-align: right;
}

#forgot-password {
    display: inline;
    transition: color 100ms ease-in;
}
#forgot-password:hover {
    color: #292021;
}

.break {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #939393;
    margin: 1rem 0;
    text-align: center;
}

.auth-login a {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #292021;
    padding: 0.875rem 6.125rem;
    border: 1px solid #F5EADB;
    border-radius: 8px;
    transition: all 100ms ease-in;
}

.auth-login a:hover {
    color: #292021;
    border-color: #e1d9ce;
    background-color: #f5f5f5;
}

.auth-login .google-auth, .autj-login .meta-auth {
    margin-bottom: 1rem;
}

.google-auth a, .meta-auth a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.auth-login .google-auth a img, .auth-login .meta-auth a img {
    width: 1.375rem;
    max-height: 100%;
}

.register {
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #939393;
    display: block;
    text-align: center;
}

.register a {
    color: #886750;
    display: inline;
    transition: color 100ms ease-in;
}

.register a:hover {
    color: #543c26;
}